body {
  font-family: lato, serif;
  font-weight: 300;
   /* if you want the light version */
   color: rgb(10, 10, 0);
   background-color: #ece0e7;
}


h1 {
  font-family: lato;
  color: gray;
  font-size: 1.6em;
  font-weight: 700;

}

h2 {
  color: #EC7263;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: inherit;

}

p {
  font-family: 'Open Sans', Arial;
  font-size: 12px;
}

ul{
  list-style-type: none;
  margin-left: none;
  padding: 0;
  font-family: 'Open Sans', Arial;
  font-size: 12px;
  font-weight: 700;
  color: #2F4F4F;

}

/*.card{
    display: flex;
    background-color: #f3f3f3;
    justify-content: left;
    align-content: left;
    overflow: hidden;
    margin: 10px 0;
    font-weight: 700;
  }*/

  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }


}

.img-circle {
  margin: center;
  border-radius: 50%;
  size: 20%;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.shadowed {
  box-shadow: 5px 5px 3px gray;
}

.icon {
  width: 40px;
  color: gray;
  text-decoration-color: none;
}


#home-page-first-image {
  border-radius: 50%;
}
.home-card {
  text-align: center;
  background: #f3f3f3;
  padding: 30px;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 3px gray;
}


.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.container {
  width: 2000px;
  margin: 0 auto;

}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-family: 'Open Sans', Arial;

}

a {
  color: #2F4F4F;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
  color: black;
}

.boxed {
  border: 1px solid green ;
  background: lightblue;
/*  resize: both;
  overflow: auto;*/

  position: relative;
  display: inline-block;

  background-color: lightblue;
  width: auto;
  padding: 0px;
  margin: 0px;

  font-size: 24px;
  line-height: 30px;
}

.contact-box{
  box-sizing: border-box;
  display: block;

}

.contact-item{
  padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-right: 0px;\

}
.contact-item-icon{
  opacity: 0.2;
}

@media (max-width: 20px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 20px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 20px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}




